

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 9998;
}


.app--wrapper{
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  background-color: white;
}

/*Calendar styles*/
.react-calendar{
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day{
  background-color: #C8FA60;
}
.react-calendar__tile.react-calendar__month-view__days__day{
  border-radius: 10px;
}

.react-calendar__tile.react-calendar__month-view__days__day:focus{
  outline: none !important;
  border: none;
}

.react-calendar__navigation{
  background-color: #CDF972;
}

.react-calendar__navigation__label{
  font-weight: 700;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background-image: url(C:\Users\Acer\Desktop\innr-specialists\client\src\assets\icons\clock.png);
}
