.videoRoom{
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    height: 85vh;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgb(200,250,96);
    background: radial-gradient(circle, rgba(200,250,96,1) 0%, rgba(255,255,255,1) 100%);
    z-index: -1;
}

.heading {
    text-align: center;
    align-self: flex-start;
    margin-bottom: 0;
    font-size: 25px;
    background-color: #C8FA60;
    padding: 10px 0;
}

#videos{
    position: relative;
    height: 70vh;
    width: 100vw;
    margin: auto;
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    justify-items: center;
    justify-content: center;

}

.vid{
    position: relative;
    background-color:black;
    height: 95%;
    width: 90%;
}

.controls{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin: -20px auto;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    align-items: center;
    justify-items: center;
    z-index: 1;
    width: 500px;
    max-width: 60vw;
}

.controls p{
    padding: 10px;
    cursor: pointer;
    background: #38373A;
    color: #F7F7F7;
    border-width: 1px;
    border-color: #F7F7F7;
    border-style: solid;
}

.controls p.on{
    background: #F7F7F7;
    color: #38373A;
    border-width: 1px;
    border-color: #38373A;
    border-style: solid;
}

.join{
    position: absolute;
    z-index: 1;
    width: 30vw;
    height: fit-content;
    height: -moz-max-content;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 75vw;
}

.join  input{
    padding: 15px;
    font-size: 1rem;
    border-width: 1px;
    border-color: #38373A;
    border-style: solid;
    width: 80%;
    display: block;
    margin:  50px auto;
}

.join  button{
    min-width: 200px;
    padding: 1.2rem 0;
    text-align: center;
    background-color: #585d4f;
    color: #F7F7F7;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
}
