.navigation{
    width: 253px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
}

.navigationHidden
{
    width: 70px;
    align-items: center;
}

.navigationHeader
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.title{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 21px 15px 34px;
}

.toggleArrow
{
    width: 30px;
    margin: 10px 10px 13px 0;
    cursor: pointer;
}

.navWrapper{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.navItem{
    width: 100%;
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 19px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.navItemMini
{
    gap: 0px;
}

.logout, .login{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    gap: 19px;
    font-size: 1rem;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
}

.logout:hover p{
    color: red;
}

.logout img{
    width: 30px;
}

.login{
    color: #C8FA60;
}

.navItem.active{
    background-color: #C8FA60;
    font-weight: 600;
}
.navItem:hover{
    background-color: rgba(200, 250, 96, 0.52);
}
