.myModal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.myModalContent {
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
    animation: _scaleIn 0.5s cubic-bezier(.25,.75,.5,1.25);
}

.myModal.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes _scaleIn {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
