.videochat
{
    background-color: #e8e8e8;
    width: 100%;
    /* height: 100vh; */
}

.header
{
    padding: 0 73px 0 24px;
    display: flex;
    height: 72px;
    width: 100%;
    align-items: center;
}

.headerIcon
{
    width: 1035px;
    position: relative;
}

.headerIconImg
{
    width: 34px;
    height: 37.78px;
    cursor: pointer;
}

.records
{
    display: none;
    position: absolute;
    padding: 10px 24px;
    background: rgba(250, 250, 250, 0.65);
    z-index: 9999;
    top: 57px;
}
.calendarRecordsListItem
{
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
    margin-top: 5px;
}
.recordsActive
{
    display: block;
}

.headerProfile
{
    width: 262px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerProfileIcon
{
    width: 37px;
    height: 37px;
}

.headerProfileName
{
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.line
{
    width: 100%;
    height: 1px;
    background: #DCDBDB;
}

.main
{
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.video
{
    position: relative;
    width: 1035px;
    height: 952px;
    background: url(../../assets/images/videochat/bigVideoImg.jpg) center center/cover no-repeat;
}

/* move up */
.videoMove
{
    /* margin-bottom: 294px; */
    height: 641px;
    /* margin-bottom: 0; */
}

.videoWrapper
{
    position: absolute;
    display: flex;
    align-items: center;
    right: 7px;
    bottom: 13px;
}
.videoWrapperSmall
{
    right: 30px;
    bottom: 30px;
}

.videoTimer, .videoMicro, .videoCall
{
    width: 240px;
    height: 78px;
    background: rgba(255, 255, 255, 0.63);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-right: 55px;
    cursor: pointer;
}

.videoTimerSmall
{
    width: 203px;
    height: 58px;
    margin-right: 104px;
}

.videoMicro
{
    width: 90px;
    height: 90px;
    margin-right: 52px;
}

.videoMicroSmall
{
    width: 72px;
    height: 72px;
    margin-right: 81px;
}
.videoMicroIcon
{
    width: 47px;
    height: 60px;
}
.videoMicroIconSmall
{
    width: 38px;
    height: 48px;
}

.videoCall
{
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: #E93030;
    margin-right: 93px;
}
.videoCallSmall
{
    width: 79px;
    height: 79px;
    margin-right: 141px;
}

.videoCallIcon
{
    width: 47px;
    height: 47px;
}

.aside
{
    width: 335px;
    padding: 9px 11px 7px 9px;
}

.btnReq
{
    width: 315px;
    height: 87px;
    font-size: 24px;
    line-height: 31px;
}
.btnReqHidden
{
    display: none;
}

.text
{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin: 16px 0;
}
.textFirst
{
    margin: 0 0 16px 0;
}

.notes
{
    position: relative;
}
.note
{
    width: 312px;
    height: 710px;
    padding: 13px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    resize: none;
    outline: none;
    border: none;
}
.noteBig
{
    height: 815px;
}

.notesBtn
{
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 312px;
    height: 51px;
    font-size: 18px;
    line-height: 23px;
}

.btnEnd
{
    margin-top: 7px;
    width: 312px;
    height: 76px;
    background: #F2F2F2;
    font-size: 20px;
    line-height: 25px;
}
.btnEnd:hover, .scanMagnifyBtn:hover
{
    background: #F2F2F2;
}
.btnEnd:focus, .scanMagnifyBtn:focus, .scanCloseBtn:focus
{
    outline: none !important;
    border: none;
    transform: scale(1);
    background: #F2F2F2;
}

.scans
{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 9px;
    display: none;
    width: 1035px;
    height: 294px;
    gap: 18px;
}
.scansActive
{
    display: flex;
    bottom: 0px;
}

.scanResultsWrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 293px;
    width: 677px;
    background: #FFFFFF;
    border-radius: 10px;
    justify-content: space-between;
}

.scanResults
{
    display: flex;
    width: 100%;
    /* height: 196px; */
    align-items: center;
    padding: 6px 0 15px;
}

.scanResultItem
{
    padding: 60px 0;
    width: 215px;
    height: 196px;
    border-right: 1px solid rgba(191, 191, 191, 0.65);
}
.scanResultItem:nth-child(2)
{
    width: 238px;
}
.scanResultItem:last-child
{
    border: none;
    width: 224px;
}

.scanResultTitle, .scanResultInfo, .scanResultInfoGreen
{
    font-family: 'Lexend', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #808080;
    text-align: center;
    margin-bottom: 31px;
}

.scanResultInfo
{
    color: #000;
    margin-bottom: 0;
}

.scanResultInfoGreen
{
    color: #338D42;
}

.scanResultBtns
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.scanMagnifyBtn
{
    width: 327px;
    height: 76px;
    background: #F2F2F2;
}
.scanCloseBtn
{
    width: 336px;
    height: 76px;
    background: #FCECEC;
}
.scanCloseBtn:hover, .scanCloseBtn:focus
{
    background: #FCECEC;
}

.scanZoomedImg
{
    display: block;
    width: 50%;
    /* height: 726px; */
    /* object-fit: cover; */
}



.lightbox {
    width: 100vw;
    height: 100vh;
    background: rgba(200, 198, 198, 0.34);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* animation: none; */
}

.closeZoomImgBtn
{
    margin-top: 19px;
    width: 336px;
    height: 76px;
    background: #FAFAFA;
    font-size: 20px;
    line-height: 25px;
}
.closeZoomImgBtn:focus, .closeZoomImgBtn:hover
{
    background: #FAFAFA;
}


.myswiper
{
    width: 850px;
    height: 726px;
}

.swiperSlide img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}